.title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}
.title.subtitle {
    font-size: 27px;
}
.text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-left: 40px;
}
.textPopup {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}
.textPopup:hover {
    color: #9DB1CC;
}
.countDays {
    color: #A9203E;
}
.text.days {
    font-size: 20px;
    text-align: right;
    margin-right: 40px;
    font-style: italic;
}
.budget {
    color: #34C924;
}
.salaryPremium {
    color: #2271B3;
}
.total {
    color: #007FFF;
}
.balance {
    color: #B00000;
}

.popup {
    position: relative;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 70px;
}
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #FFFFF0;
    color: black;
    border: 2px solid black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 7%;
    margin-left: -120px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 101%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.diagram {
    margin: auto;
    margin-bottom: 40px;
}

.inputBudget {
    display: block;
    border: none;
    margin-left: 40px;
    margin-bottom: 30px;
    padding: 0;
    width: 13.5ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/13ch 2px no-repeat;
    font: 4ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}
.inputBudget:focus {
    outline: none;
    color: dodgerblue;
}

.usualButton.updateBudgetButton {
    margin-left: 40px;
    display: inline-block;
}

.inputBudget.row {
    display: inline-block;
}
.text.row {
    display: inline-block;
}

.top5 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
